<a href="#%ID%">
  <h3 id="%ID%" class=move-name>%NAME% %EXTRA%</h3>
</a>
<div class=move>
  <div class=move-info>
    <span class=move-input>
      %INPUT% %CONDITION%
    </span>
    <div class=image-container>
      %IMAGE%
    </div>
    <div class=hitbox-container>
      %HITBOX%
    </div>
    <div class=hitbox-toggle>
      <input type=checkbox id="%ID%-hitbox-toggle" class=hitbox-checkbox hidden>
      <label for="%ID%-hitbox-toggle" class=hitbox-btn>Hitbox</label>
    </div>
  </div>
  <div class=move-details>
    <div class=table-container>
      %FRAMEDATA%
    </div>
    <span>%DESCRIPTION%</span>
  </div>
</div>