<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%NAME% - Silly Willy Scramble Wiki</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../menu.js"></script>
  </head>
  <body class=main>
    <header>
      <h1>
        <a href="../index.html">Silly Willy Scramble Wiki</a>
      </h1>
    </header>

    <div class="container">
      <button class=nav-toggle onclick="showMenu()">&ctdot;</button>
      <div class="sidebar">
        <nav>
          <h3>Navigation <input type=checkbox checked="checked"></h3>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li class=header>Characters</li>
            %CHARALIST%
          </ul>
        </nav>

        <nav>
          <h3>Table of Contents <input type=checkbox checked="checked"></h3>
          <ul>
            <li><a href="#overview">Overview</a></li>
            <li class=header><a href="#mechanics">Unique Mechanics</a></li>
            %NAV_MECHANICS%
            <li class=header><a href="#command-normals">Command Normals</a></li>
            %NAV_COMMAND_NORMALS%
            <li class=header><a href="#specials">Special Attacks</a></li>
            %NAV_SPECIALS%
            <li class=header><a href="#supers">Supers</a></li>
            %NAV_SUPERS%
          </ul>
        </nav>

      </div>
      <main>
        <h2 id=overview><a href="#overview">%NAME%</a> <a href="../index.html">(Back to Home)</a></h2>
        <div class=overview>
          <div class=content>
            <p>%DESCRIPTION%</p>
            <section class=info>
              <h3>%NAME%</h3>
              <img src="%PORTRAITPATH%" alt="%NAME% Portrait">
              <table>
                <tr><td>Type</td> <td>%TYPE%</td></tr>
              </table>
            </section>
          </div>
        </div>
        %MECHANICS%
        <div class=command-normals>
          <h2 id=command-normals><a href="#command-normals">Command Normals</a></h2>
          %COMMAND_NORMALS%
        </div>
        <div class=specials>
          <h2 id=specials><a href="#specials">Special Attacks</a></h2>
          %SPECIALS%
        </div>
        <div class=supers>
          <h2 id=supers><a href="#supers">Supers</a></h2>
          %SUPERS%
        </div>
      </main>
    </div>
    <footer>
      <p>This page was last updated on %DATE%, %TIME% (%TZ%). <a href="https://github.com/brewffee/SillyWillyScrambleWiki">View Source</a></p>
    </footer>
  </body>
</html>