<a href="#%NAME%">
  <h3 id="%NAME%" class=move-name>%NAME%%EXTRA%</h3>
</a>
<div class=move>
  <div class=move-info>
    <span class=move-input button=%BUTTON%>
      %INPUT% %CONDITION%
    </span>
    <div class=image-container>
      %IMAGE%
    </div>
    <div class=hitbox-container>
      %HITBOX%
    </div>
    <div class=hitbox-toggle>
      <input type=checkbox id="%NAMEJ%-hitbox-toggle" class=hitbox-checkbox hidden>
      <label for="%NAMEJ%-hitbox-toggle" class=hitbox-btn>Hitbox</label>
    </div>
  </div>
  <div class=move-details>
    %FRAMEDATA%
    <span>%DESCRIPTION%</span>
  </div>
</div>